.form {
    margin: 1rem 0;
    height: 10rem;
    overflow: auto;
    font-family: 'Karla', sans-serif;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    font-weight: bold;
    margin-bottom: 0.25rem;
    margin-right: 0.5rem ;
    display: block;
  }
  
  .control input {
    font: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 20rem;
    max-width: 100%;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
  }
  
  .actions button {
    font: inherit;
    color: #EB455F;
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
    padding: 0.5rem 2rem; 
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #9DF1DF;
  }
  
  .actions .submit {
    border: 1px solid #65C18C;
    background-color: #65C18C;
    color: white;
  }
  
  .actions .submit:hover,
  .actions .submit:active {
    background-color: #9DF1DF;
  }
  
  .invalid label {
    color: #ca3e51;
  }
  
  .invalid input {
    border-color: #aa0b20;
    background-color: #ffeff1;
  }


  @media screen and (max-width: 1000px){
    .form{
      height: 20rem;
    }
  }