.meal {
    font-family: 'Karla', sans-serif;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
  }
  
  .meal h3 {
    margin: 0 0 0.25rem 0;
  }
  
  .description {
    font-style: italic;
  }
  
  .price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: #EB455F;
    /* color: yellow; */
    font-size: 1.25rem;
  }

  @media (max-width: 1000px) {
    .description{
      font-size: 0.6rem;
    }

    .meal h3{
      font-size: 1.1rem;
      margin: 0 0 0 0;
    }

  }